.books {
  display: flex;
  flex: 1;
  margin: 0 auto 4rem auto;
  width: 100%;
  max-width: 65rem;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.addButton {
  display: flex;
  margin: 3rem auto;
  min-width: 13rem;
  height: 3rem;
  border-radius: .5rem;
  border: none;
  background-color: var(--blue1);
  border: .2rem solid var(--blue1);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
}

.addButton:hover {
  background-color: var(--blue2);
}

.addButton:active {
  transform: translateY(.2rem);
}